{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Мир книг</title>{% endblock title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'catalog/css/styles.css' %}">
    {% block head %}
    {% endblock head %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {% block sidebar %}
                <ul class="sidebar-nav">
                    <li><a href="{% url 'index' %}">Главная страница</а></li>
                    <li><a href="{% url 'books' %}">Bce книги</а></li>
                    <li><a href="{% url 'authors' %}">Bce авторы</а></li>
                </ul>
                {% endblock %}
            </div>    
            <div class="col-sm-10 ">
            {% block content %}{% endblock %}
            {% block pagination %}
                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}">Пред.</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">След.</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            {% endblock %}
            


                {% block footer %}
                    {% block copyright %}
                        <p>Copyright ООО "Люди и книги", 2020. Все права защищены</р>
                    {% endblock %}
                {% endblock %}
            </div>
    </div>
</div>
</body>
</html> 